@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif !important;
    padding: 0px;
    margin: 0px;
}
header{
    background-color: #FFFFFF;
    padding: 10px 0px;
}
#head-01{
    max-width: 1200px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #666666;
}
#head-01 p{

font-size: 14px;
font-weight: 400;
line-height: 15.6px;
text-align: left;
margin: 0px;
padding: 0px;

}
#head-01 i{
    font-size: 18px;
    
    margin-right: 10px;
}
#head-01 a{

font-size: 14px;
font-weight: 400;
line-height: 15.6px;
color: #666666;
text-align: center;
text-decoration: none;
padding:0px 5px;

}
#head-01 a i{
    font-size: 16px;
}

/* header section 02 */
#head-02{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;

    padding: 30px 10px;
    /* border-top:1px solid #666666;
    border-bottom:1px solid #666666; */

    max-width: 1200px;
    margin: 0px auto;

}
input{
    width: 350px !important;
    font-size: 14px;
    color: #1A1A1A;
}
input::placeholder{
    font-size: 14px;
    color: #666666;
}
.form-control:focus{
    box-shadow: none !important;
    outline: #1A1A1A !important;
    border: 1px solid #1A1A1A !important;
}

.cart-price{
    display: flex;
    flex-direction: row;
    align-items:center;
    gap: 0px 20px;

}
.cart-price i{
    margin: 0px 5px;
    font-size: 18px;
    color: #1A1A1A;
}
.cart-price p{
    margin: 0px;
    padding: 0px;
    color: #666666;
    font-size: 12px;
    line-height: 20px;
}
.cart-price h4{
    margin: 0px;
    padding: 0px;
    color: #1A1A1A;
    font-size: 16px;
    line-height: 16px;
}
#head-02 .btn{
    background-color: #00B207;
    color: white;
    font-size: 14px;
    border: none;
}

#head-03{
    background-color: #333333;
    padding: 20px;
}
#head-03-inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0px auto;
}
#head-03-inner ul{
    padding: 0px;
    margin: 0px;

}
#head-03-inner ul li{
    display: inline;
    margin: 0px 13px !important;
}
#head-03-inner ul li a{
    color: #999999 !important;
    font-size: 14px;
    text-decoration: none;
}
#head-03-inner a{
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
}
#head-03-inner .fa-phone-volume{
    margin: 0px 10px 0 0 ;
    font-size: 16px;
}